html, body {
  margin: 0;
  padding: 0;
}

.background {
  position: fixed;
  inset: 0;   
  z-index: -1;
  overflow: hidden;
}

.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

body {
background-color: rgb(51, 65, 41);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 20px;
  background: rgba(33, 56, 27, 0.454);
  border-radius: 50px;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 0.1rem 30px;
  box-sizing: border-box; 
  box-shadow: 2px 7px 12px 4px rgba(12, 21, 2, 0.586);
  backdrop-filter: blur(7px);
  border-top: 1px solid rgba(124, 161, 94, 0.29);
  border-bottom: 1px solid rgba(255, 255, 255, 0.146);
  border-right: 1px solid rgba(124, 161, 94, 0.124);
  border-left: 1px solid rgba(124, 161, 94, 0.29);
  max-width: calc(250px * 3 + 60px * 2 + 50px);
  width: calc(100% - 40px);
  left: 50%; 
  transform: translateX(-50%);
  position: fixed;
}

.navBox {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: 3vh;
    font-style: bold;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: white;
  background-color: #6e806b62;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  border-top: 1px solid rgba(153, 203, 117, 0.205);
  border-bottom: 1px solid rgba(255, 255, 255, 0.146);
  border-right: 1px solid rgba(124, 161, 94, 0.124);
  border-left: 1px solid rgba(119, 128, 112, 0.29);
}

.nav-links a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: #6e806b62;
  padding: 0.6rem 1.3rem;
  border-radius: 20px;
  border: 1px solid rgba(124, 161, 94, 0.29);
  border-top: 1px solid rgba(153, 203, 117, 0.205);
  border-bottom: 1px solid rgba(255, 255, 255, 0.146);
  border-right: 1px solid rgba(124, 161, 94, 0.124);
  border-left: 1px solid rgba(119, 128, 112, 0.29);
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links a:hover {
  background-color: #384e3560;
  transform: translateY(-2px);
}

.hamburger {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 860px) {
  .background img {
    display: none;
  }
  .hamburger {
    display: block;
    font-size: 28px;
    cursor: pointer;
    z-index: 1001;
  }
  .nav-links {
    position: absolute;
    top: 100%;
    right: 0;
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transform: translateX(120%);
    transition: transform 0.4s ease;
  }

  .nav-links a{
    background: rgba(74, 96, 68, 0.743);
    backdrop-filter: blur(7px);
    box-shadow: 2px 7px 12px 4px rgba(12, 21, 2, 0.493);
    border-top: 1px solid rgba(124, 161, 94, 0.29);
    border-bottom: 1px solid rgba(255, 255, 255, 0.146);
    border-right: 1px solid rgba(124, 161, 94, 0.124);
    border-left: 1px solid rgba(124, 161, 94, 0.29);
    
  }


  .nav-links.active {
    transform: translateX(0) translateY(15px);
  }
}

  .plantBox {
    width: 100%;
  }

.homeHeader h1{
  margin-top: 13vh;
  margin-bottom: 1vh;
  display:grid;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: clamp(1rem, 9vw, 5rem);
  color: white;
  text-align: justify;
  text-align-last: center;
  line-height: 1;
}

.homeTitle{
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  justify-content: center;
  
}

.homeTitle img{
    max-height: 25vh;
    max-width: 25vw;
    opacity: 70%;
    padding: 1rem;
    margin: 1vw;
     background: rgba(33, 56, 27, 0.454);
  border-top: 1px solid rgba(124, 161, 94, 0.29);
  border-bottom: 1px solid rgba(255, 255, 255, 0.146);
  border-right: 1px solid rgba(124, 161, 94, 0.124);
  border-left: 1px solid rgba(124, 161, 94, 0.29);
  box-shadow: 2px 7px 12px 8px rgba(12, 21, 2, 0.586);
  backdrop-filter: blur(6px);
  border-radius: 45px;
  transition: 0.4s;
}

.homeTitle img:hover{
  background-color: #54794f9a;
  transform: translateY(-2px);
}

.homeContainer{
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}


.infoBoxContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}


hr {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -10px;
  color: rgba(255, 255, 255, 0.755);
  stroke-width: 1px;
}

.pageTitle {
  display: grid;
  text-align: left;
  gap: 5vh;
  padding: 25px;
  background-color: rgba(33, 56, 27, 0.454);
  border-top: 1px solid rgba(124, 161, 94, 0.29);
  border-bottom: 1px solid rgba(255, 255, 255, 0.146);
  border-right: 1px solid rgba(124, 161, 94, 0.124);
  border-left: 1px solid rgba(124, 161, 94, 0.29);
  box-shadow: 2px 7px 12px 8px rgba(12, 21, 2, 0.586);
  backdrop-filter: blur(4px);
  border-radius: 45px;
  
}

.pageTitle h1 {
  font-size: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  margin-bottom: -5vh;
  margin-top: 2vh;
  line-height: 0.9;
}

.pageTitle p {
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  color: white;

}

.allPlantContent {
  align-items: center;
  width: 100%;
}

.searchBar {
  display: grid;
  position: sticky;
  align-items: center;
  top: 14vh;
  z-index: 10;
  margin-top: 3vh;
  padding-top: 1vh;
}

.searchBar input {
  width: 300px;
  padding: 17px;
  border-radius: 45px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgba(33, 56, 27, 0.454);
  border-top: 1px solid rgba(124, 161, 94, 0.29);
  border-bottom: 1px solid rgba(255, 255, 255, 0.146);
  border-right: 1px solid rgba(124, 161, 94, 0.124);
  border-left: 1px solid rgba(124, 161, 94, 0.29);
  box-shadow: 2px 7px 12px 8px rgba(12, 21, 2, 0.586);
  backdrop-filter: blur(4px);
  transition: 0.3s;
  outline: none;
  margin: auto;
}

.searchBar input:hover {
  background-color: #54794f62;
  transform: translateY(-2px);
}

.plantContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  gap: 60px;
  padding: 25px;
  margin-top: 2vh;
}

.plantBox {
  background-color: rgba(33, 56, 27, 0.454);
  border-top: 1px solid rgba(124, 161, 94, 0.29);
  border-bottom: 1px solid rgba(255, 255, 255, 0.146);
  border-right: 1px solid rgba(124, 161, 94, 0.124);
  border-left: 1px solid rgba(124, 161, 94, 0.29);
  box-shadow: 2px 7px 12px 8px rgba(12, 21, 2, 0.586);
  backdrop-filter: blur(4px);
  border-radius: 45px;
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 448px;
  padding-top: 25px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 32px;
}

.plantBox img {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  max-width: 255px;
  height: 100%;
  max-height: 200px;
  border-radius: 25px;
  filter: drop-shadow(0 0 0.75rem rgba(19, 25, 19, 0.653));
  object-fit: cover;
  image-rendering: optimizeSpeed;
  
}

.plantBox .thumbnail {
  border-top: 1px solid rgba(124, 161, 94, 0.29);
  border-bottom: 1px solid rgba(255, 255, 255, 0.146);
  border-right: 1px solid rgba(124, 161, 94, 0.124);
  border-left: 1px solid rgba(124, 161, 94, 0.29);
  box-shadow: 2px 7px 12px 8px rgba(22, 27, 17, 0.338);
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  max-width: 255px;
  height: 100%;
  max-height: 200px;
  border-radius: 25px;
  filter: drop-shadow(0 0 0.75rem rgba(19, 25, 19, 0.653));
  object-fit: cover;
  image-rendering: optimizeSpeed;
}

.plantBox h1 {
  display: flex;
  justify-content: left;
  margin-left: 25px;
  padding-top: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  line-height: 0.5;
  color: rgb(255, 255, 255);
}

.plantBox h3 {
  display: flex;
  justify-content: left;
  margin-left: 25px;
  padding-bottom: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  font-style: italic;
  font-weight: 200;
  line-height: 0;
  color: rgb(184, 180, 159);
}

.plantBox p{
  display: none;
}

.waterIcons {
  display: flex;
  margin: 20px;
  margin-top: -0.5vh;
  margin-bottom: -12px;
  gap: 2px;
}

.waterIcons img {
  width: 25px;
  height: 25px;
  display: block;
  margin: 0;
  padding: 0;
  gap: 5px
}

.sunIcons {
  display: flex;
  margin: 20px;
  margin-bottom: 3.3vh;
  gap: 2px;
}

.sunIcons img {
  width: 25px;
  height: 25px;
  display: block;
  margin: 0;
  padding: 0;
}

.mainTitle  { 
  z-index: 2;
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 6vw;
  color: rgb(255, 255, 255);
  display: grid;
  text-align: center;
  line-height: 0.8;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}


/* More Info Page Styling */
.moreInfo {
  display: grid;
  justify-items: center;
  align-content: start;
  min-height: 80vh;
  width: 80vw;
  margin: 0 auto;
  padding-top: 14vh;
  gap: 8px;
}

.moreInfo img {
  width: 100%;
  max-height: 25vh;
  border-radius: 35px;
  filter: drop-shadow(0 0 0.75rem rgba(19, 25, 19, 0.653));
  object-fit: cover;
  image-rendering: optimizeSpeed;
  margin-top: 3vh;
}

.moreInfo hr {
  width: 100%;
  color: oklch(100% 0.00011 271.152 / 0.373);
  stroke-width: 0.5px;
}

.moreInfo a {
  margin-top: -12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

.moreInfo h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: oklch(99.925% 0.0011 202.86);
  margin: 0;
  line-height: 1.1;
  font-size: 2.5rem;
}

.moreInfo h3 {
 font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: italic;
  font-weight: 200;
  color: rgb(184, 180, 159);
  margin: 2px 0 0 0;
  line-height: 1.2;
  padding-bottom: 5px;
}

.moreInfo p {
  font-size: 0.9rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  color: white;
  text-align: left;
  width: 100%;
  height: 100%;
  margin-bottom: 1.6vh;
  margin-top: 1vh;
}

.moreInfo h4 {
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  color: white;
  text-align: left;
  width: 100%;
  height: 100%;
  margin-bottom: -5px;
  margin-top: -5px;
}

.infoBox {
  display: flex;
  flex-direction: column;
  background-color: rgba(33, 56, 27, 0.454);
  border-top: 1px solid rgba(124, 161, 94, 0.29);
  border-bottom: 1px solid rgba(255, 255, 255, 0.146);
  border-right: 1px solid rgba(124, 161, 94, 0.124);
  border-left: 1px solid rgba(124, 161, 94, 0.29);
  width: 100%;
  border-radius: 35px;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  box-shadow: 2px 7px 12px 8px rgba(12, 21, 2, 0.586);
  backdrop-filter: blur(4px);

}

.infoBox h1 {
  display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin: 0;
  line-height: 1.1;
  font-size: 1.5rem;
}


.infoBoxContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  width: 100%;
  justify-items: center;
  margin-bottom: 1rem;
}

.infoHeader {
  display: flex;
  justify-content: left;
  align-items: center;

}

.infoHeader h3 {
 margin-left: 8px;
 font-style: normal;
}

.infoIcons {
  display: flex;
  margin-top: -1vh;
  margin-bottom: 1vh;
}

.infoIcons img {
  width: 25px;
  height: 25px;
}

.pageCite {
  text-align: center;
}
.pageCite h4 {
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  color: white;
}

.pageCite a {
  font-size: 0.8rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  text-decoration: none;
  color: white;
}
@media (min-width: 1180px) {
  .infoBoxContainer {
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
  }
}

/* plant planner button */

.plantBoxInfo {
  display: flex;
  align-items: center;

}
.plantBoxInfo a{
  border-top: 1px solid rgba(153, 203, 117, 0.205);
  border-bottom: 1px solid rgba(255, 255, 255, 0.146);
  border-right: 1px solid rgba(124, 161, 94, 0.124);
  border-left: 1px solid rgba(119, 128, 112, 0.29);
  box-shadow: 2px 7px 12px 8px rgba(22, 27, 17, 0.338);
  border-radius: 35px;
  color: white;
  background-color: #6e806b62;
  padding: 0.8rem;
  font-size: 2.5rem;
  font-family: sans-serif;
  font-weight: 300;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  width: 100%;
  margin-left: 20px;
  margin-right: 5px;
  margin-bottom: 6vh;
}

.plantBoxInfo img{
  height: 2.3rem;
  width: 2.3rem;
}

.plantBoxInfo button {
  border-top: 1px solid rgba(153, 203, 117, 0.205);
  border-bottom: 1px solid rgba(255, 255, 255, 0.146);
  border-right: 1px solid rgba(124, 161, 94, 0.124);
  border-left: 1px solid rgba(119, 128, 112, 0.29);
  box-shadow: 2px 7px 12px 8px rgba(22, 27, 17, 0.338);
  border-radius: 35px;
  color: white;
  background-color: #6e806b62;
  padding: 0.8rem;
  font-size: 2.5rem;
  font-family: sans-serif;
  font-weight: 300;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  width: 100%;
  margin-right: 20px;
  margin-left: 5px;
  margin-bottom: 6vh;

}

.plantBoxInfo a:hover {
  background-color: #54794f62;
  transform: translateY(-2px);
}

.plantBoxInfo button:hover {
  background-color: #54794f62;
  transform: translateY(-2px);
  transition: 0.3s;
  cursor: pointer;
}

/* the lounge styling */


.widgets {
  grid-template-columns: repeat(auto-fit);
  margin-bottom: -13vh;
  gap: 1.5rem;
  

}

#clock{
  display: grid;
  font-size: clamp(1rem, 9vw, 3rem);
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  color: white;
  max-width: 300px;
  margin: 10rem auto;
  margin-bottom: -13vh;
  background-color: rgba(33, 56, 27, 0.454);
  border-top: 1px solid rgba(124, 161, 94, 0.29);
  border-bottom: 1px solid rgba(255, 255, 255, 0.146);
  border-right: 1px solid rgba(124, 161, 94, 0.124);
  border-left: 1px solid rgba(124, 161, 94, 0.29);
  box-shadow: 2px 7px 12px 8px rgba(12, 21, 2, 0.586);
  backdrop-filter: blur(4px);
  border-radius: 35px;
  padding-top: 4vh;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-bottom: 4vh;
}

.soundWidget{
  display:grid;
  font-size: clamp(1rem, 9vw, 3rem);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  max-width: 300px;
  margin: 10rem auto;
  justify-items: center;
  background-color: rgba(33, 56, 27, 0.454);
  border-top: 1px solid rgba(124, 161, 94, 0.29);
  border-bottom: 1px solid rgba(255, 255, 255, 0.146);
  border-right: 1px solid rgba(124, 161, 94, 0.124);
  border-left: 1px solid rgba(124, 161, 94, 0.29);
  box-shadow: 2px 7px 12px 8px rgba(12, 21, 2, 0.586);
  backdrop-filter: blur(4px);
  border-radius: 35px;
  padding-top: 4vh;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-bottom: 4vh;
}

.soundWidget h1{
  font-size: 1.4rem;
  margin-top: -1.3vh;
}

.soundWidget p{
  font-size: 0.8rem;
  font-weight: 100;
  text-decoration: none;
  color: white;
  margin-bottom: -1vh;

}

.soundWidget a{
  text-decoration: none;
  font-weight: bolder;
  color: white;

}
.soundButtons{
  display:flex;
  gap: 7px;
  justify-content:center;
}
.soundWidget button{


  display:flex;
  align-items:center;
  justify-content:center;
  

  width:70px;
  height:70px;

  border-radius:50%;
  border-top: 1px solid rgba(153, 203, 117, 0.205);
  border-bottom: 1px solid rgba(255, 255, 255, 0.146);
  border-right: 1px solid rgba(124, 161, 94, 0.124);
  border-left: 1px solid rgba(119, 128, 112, 0.29);
  background-color:#6e806b62;
  color:white;
  font-size:1.4rem;
  cursor:pointer;
  transition:0.10s;
}

.soundWidget button:hover{
transform:scale(1.08);
}


#plantTip {
  display: grid;
  font-size: clamp(1rem, 5vw, 1.2rem);
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  color: white;
  max-width: 300px;
  margin: 10rem auto;
  justify-items: center;
  background-color: rgba(33, 56, 27, 0.454);
  border-top: 1px solid rgba(124, 161, 94, 0.29);
  border-bottom: 1px solid rgba(255, 255, 255, 0.146);
  border-right: 1px solid rgba(124, 161, 94, 0.124);
  border-left: 1px solid rgba(124, 161, 94, 0.29);
  box-shadow: 2px 7px 12px 8px rgba(12, 21, 2, 0.586);
  backdrop-filter: blur(4px);
  border-radius: 35px;
  padding-top: 4vh;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-bottom: 4vh;
  
}

.errorContainer {
  display: grid;
  place-items: center;

}

.errorContainer header{
  margin-top: 15vh;
  font-size: clamp(3rem, 5vw, 1.2rem);
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  color: white;
  margin-bottom: -10vh;
}
.errorContainer h1 {
  font-size: clamp(5rem, 9vw, 3rem);
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  color: white;
  margin: 10rem auto;
  margin-bottom: -1vh;
}

.errorContainer h2{
  font-size: clamp(1rem, 5vw, 1.2rem);
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: white;
}

.errorContainer p{
  font-size: clamp(1rem, 3vw, 1rem);
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  color: white;
}

.errorContainer a{
  width: 40vw;
  height: 2vh;
  border-top: 1px solid rgba(153, 203, 117, 0.205);
  border-bottom: 1px solid rgba(255, 255, 255, 0.146);
  border-right: 1px solid rgba(124, 161, 94, 0.124);
  border-left: 1px solid rgba(119, 128, 112, 0.29);
  border-radius: 35px;
  color: white;
  background-color: #6e806b62;
  padding: 0.8rem;
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  margin-left: 20px;
  margin-right: 5px;
  margin-bottom: 6vh;
}